article {
    height: 480px;
    border-top: solid 1.34px;
    border-bottom: solid 1.34px;
    border-color: rgb(186, 187, 186);
}
section {
    height: 85%;
    background-image: url('https://www.w3schools.com/css/gradient_bg.png');
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.register-phone {
    width: 30%;
    height: 70%;
    margin-top: 30px;
    background-color: #f5f4f4;
    opacity: 0.5;
    display: flex;
    flex-direction: column;
}
.form-group {
    width: 80%;
    outline: none;
    -webkit-appearance: none;
    margin-top: 10%;
    margin-left: 10%;
    margin-bottom: 5%;
    background: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 3px;
}
.label-control {
    margin-left: 5px;
}
.phone-control{
    height: 40px;
    width: 65%;
    outline: none;
    -webkit-appearance: none;
    padding-left: 15%;
    background: #ffffff;
    border: none;
    color: #262626;
    font-size: 15px;
    line-height: 18px;
    box-shadow: none;
}
.checkbox-control {
    width: 15px;
    height: 15px;
    margin: 0 0 0 0;
}
.has-error .label-control{
    outline: none;
    box-shadow: none !important;
    transition: none;
    border-color: #f73302 !important;
}
.error-control {
    padding-left: 10px;
    color: #f73302;
    font-size: 13px;
}
.btn-control,
.btn-control:hover,
.btn-control:focus {
    width: 70px;
    height: 70px;
    float: right;
    margin-top: 8%;
    margin-right: 8%;
    outline: none;
    box-shadow: none;
    border-radius: 50%;
    background-color: white;
    border-style: solid;
    border-color: rgb(177, 175, 175);
}
@keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
.spinner-icon {
    width: 20px;
    height: 20px;
    animation: spin 2s infinite linear;
}