footer {
    display: flex;
    justify-content: space-between;
    color: grey;
}
.copyright {
    margin-left: 20px;
    margin-top: 10px;
    font-size: 10px;
}
.notice {
    margin-top: 5px;
}
.social {
    width: 8%;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
p {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}